header{
    font-size: 1em;
    font-weight: 800;
    padding: 10em 35em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header img{
    width: 20em;
}
body{
    min-height: 100vh;
}
main {
    display: flex;
    height: auto;
}
aside {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
    width: 13em;
}

.index {
    width: 100%;
    /* height: 100vh; */
}

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    /* padding: 4em 8em; */
}
.head {
    width: 40em;
    padding: 4em 8em;
    justify-content: center;
    align-content: center;
    width: 50em;
    text-align: center;
}
.head h2 {
    font-weight: 800;
    font-size: 2em;
    /* text-align: center; */
}
.head p {
    font-weight: 500;
    font-size: 1.2em;
    color: #666;
}
.faq-resposta {
    display: none;
}
.faq-container {
    gap: 1em;
}
.faq-categoria {
    display: flex;
    flex-direction: column;
    width: 40em;
    padding: 2em 4em;
    background-color: #f1f1f1;
    border-radius: 17.8px;
    gap: 1em;
}
.faq-categoria h2 {
    font-size: 3em;
}