:root {
  --cor-fundo-principal: #f0f0f0;
  --cor-fundo-secundario: #ffffff;
  --cor-texto-principal: #1d1d1f;
  --cor-texto-secundario: #666666;
  --cor-acento: #0071e3;
  --cor-hover: #0050b3;
}

body {
    background-color: var(--cor-fundo-principal);
    color: var(--cor-texto-principal);
}

a {
    color: var(--cor-acento);
}
/* a:hover{
    color: var(--cor-hover);
} */
footer{
    background-color: var(--cor-fundo-secundario);
    color: var(--cor-texto-secundario);
    /* padding: 20px; */
    /* text-align: center; */
}
header {
    padding: 3em 35em;
}
header h1 {
    font-size: 3.5em;
}

article h2{
    font-size: 3em;
    color: var(--cor-texto-principal);
    /* margin-bottom: 0.5em; */
}
.index-container {
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* gap: 1em; */
}
main {
    height: 100%;
    padding: 1em 0;
}
aside {
    margin-left: 2em;
    position: sticky;
    top: 3em;
    align-self: flex-start;
    z-index: 999;
    /* height: auto; */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
    padding: 1em;
    background-color: var(--cor-fundo-principal);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    /* flex-shrink: 0; */
}
article {
    /* border-radius: 17.8px; */
    /* padding: 5em 5em; */
    /* width: 40em; */
    border: 1px solid var(--cor-fundo-principal);
    background-color: var(--cor-fundo-secundario);
}
.informacao-container, .origem-container {
    display: flex;
    width: 50%;
    height: 22em;
    flex-direction: column;
    gap: 1em;
    padding: 1em 7em;
    text-align: center;
    justify-content: end;
}


.topo{
    display: flex;
    gap: 1em;
    padding: 1em;
}

.AlertAI {
    display: flex;
    width: 100%;
    height: 22em;
    flex-direction: column;
    gap: 1em;
    padding: 1em 7em;
    text-align: center;
    justify-content: start;
    /* margin: 0em 1em 0em 1em; */
}

.card-container{
    display: flex;
    gap: 1em;
}

.card {
    display: flex;
    width: 50%;
    height: 22em;
    flex-direction: column;
    gap: 1em;
    padding: 1em 7em;
    text-align: center;
    justify-content: start;
}
.solucao-container {
    display: flex;
    background-color: var(--cor-fundo-principal);
    /* margin: 1em; */
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.informacao-container {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent), 
                    url('../img/desafio-comu.JPG');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}



.origem-container {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent), 
                    url('../img/nossa-missao.JPG');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.AlertAI {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent), 
                    url('../img/card-alerta.JPG');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.topo h2, p {
    color: var(--cor-fundo-principal);
}

.AlertAI h2 {
    color: var(--cor-fundo-secundario);
    
}

#ia-card {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent), 
                    url('../img/analise-card.PNG');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#chat-card {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent), 
                    url('../img/chat-card.PNG');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#report-card {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent), 
                    url('../img/report-card.PNG');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#alerta-card {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent), 
                    url('../img/alerta-card.PNG');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* #alerta-card */

.card h2 {
    color: var(--cor-fundo-secundario);
}